<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgettracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DayTheme">
        <activity android:name=".Activities.SetariActivity"></activity>
        <activity android:name=".Activities.WelcomeActivityTest"></activity>
        <activity android:name=".Activities.ListaConturiActivity" />
        <activity android:name=".Activities.StatisticsActivity" />
        <activity android:name=".Activities.InregistrareActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.WelcomeActivity" />
        <activity android:name=".Activities.SablonCheltuialaActivity" />
        <activity android:name=".Activities.EditareContActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>